<div class="row">
  <div class="col-lg-12">
    <h2>Payment Details</h2>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">All</a></li>
          <li><a href="#tab2" data-toggle="tab">Accepted</a></li>
          <li><a href="#tab3" data-toggle="tab">Rejected</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <h4>All</h4>
            <p>All Payment Details</p>
          </div>
          <div class="tab-pane fade" id="tab2">
            <h4>Accepted</h4>
            <p>All Accepted payment Details</p>
          </div>
          <div class="tab-pane fade" id="tab3">
            <h4>Rejected</h4>
            <p>All Rejected Payment Details</p>
          </div>
        </div>
      </div>
    </div><!--/.panel-->
  </div><!--/.col-->

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body tabs">

        <ul class="nav nav-pills">
          <li class="active"><a href="#pilltab1" data-toggle="tab">All</a></li>
          <li><a href="#pilltab2" data-toggle="tab">Accepted</a></li>
          <li><a href="#pilltab3" data-toggle="tab">Rejected</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="pilltab1">
            <h4>Total - All </h4>
            <p></p>
          </div>
          <div class="tab-pane fade" id="pilltab2">
            <h4>Total - Accepted </h4>
            <p></p>
          </div>
          <div class="tab-pane fade" id="pilltab3">
            <h4>Total - Rejected </h4>
            <p></p>
          </div>
        </div>
      </div>
    </div><!--/.panel-->
  </div><!-- /.col-->

</div><!-- /.row -->
